# Ignore Python virtual environments
.venv/
venv/
ENV/
env/
myenv/
package-lock.json/
package.json/
Yoga_live.jpynb/
Yoga_live.py/

#Ignore Downloaded Dataset
yoga-pose-image-classification-dataset.zip
dataset

#ignore csv files
/*.csv

#ignore image data
/YogaPoses